body
{
	background: #010101;
	color: #FFF;
	font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong,
em
{
	color: #FFF;
	font-family: "Lato", sans-serif;
}

.clear { clear: both; }

header img#logo,
header .title
{
	float: left;
}

header img#logo { margin-right: 20px; }

header h1 .dinky
{
	font-weight: 300;
	font-size: 18px;
	display: block;
}

header h1
{
	font-weight: 300;
	font-size: 26px;
	font-weight: bold;
	line-height: 1;
}

header h2
{
	font-weight: 300;
	font-size: 20px;
	line-height: 1;
}

.row.space { margin-top: 20px; }

a.button,
a.button:link,
a.button:hover,
a.button:active
a.button:visited
{
	color: #FFF;
	width: 140px;
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
	text-align: center;
	font-size: 12px;
	text-shadow: 1px 1px #333333;

	background: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #008cc1), color-stop(100%, #006dc1));
	background: -moz-gradient(linear, right top, right bottom, color-stop(0%, #008cc1), color-stop(100%, #006dc1));
	background: -o-gradient(linear, right top, right bottom, color-stop(0%, #008cc1), color-stop(100%, #006dc1));
	background: gradient(linear, right top, right bottom, color-stop(0%, #008cc1), color-stop(100%, #006dc1));

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;

	border: 1px solid #1191c1;
	cursor: default;

	padding: 4px 0;
}

a.button:hover
{
	background: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #008cc1), color-stop(100%, #00589b));
	background: -moz-gradient(linear, right top, right bottom, color-stop(0%, #008cc1), color-stop(100%, #00589b));
	background: -o-gradient(linear, right top, right bottom, color-stop(0%, #008cc1), color-stop(100%, #00589b));
	background: gradient(linear, right top, right bottom, color-stop(0%, #008cc1), color-stop(100%, #00589b));
	border: 1px solid #045081;
}

a.button:focus,
a.button:active
{
	-webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, .3);
	-moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, .3);
	-o-box-shadow: inset 0 1px 5px rgba(0, 0, 0, .3);
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, .3);
}

.version {	color: #666; }

a,
a:link,
a:hover,
a:active
a:visited
{
	color: #008cc1;
	text-decoration: none;
}

a:hover { color: #006dc1; }

a.wordpress {
	border-bottom: 1px solid #999;
	background: url('../img/wp-link-icon.png') center left no-repeat;
	padding-left: 24px;
}

a.wordpress:hover { border-bottom: 1px solid #666; }

#content { margin-top: 120px; }

h3
{
	font-weight: bold;
	font-size: 24px;
}

#content .row { margin-top: 80px; }

ol li h4,
ul li h4
{
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
}

ol li p 
{
	font-weight: 300;
}

ol
{
	list-style: none;
	margin: 0;
}

ol li .bullet
{
	background: #FF0054;
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 20px;

	-webkit-border-radius: 500%;
	-moz-border-radius: 500%;
	-o-border-radius: 500%;
	border-radius: 500%;
}

ol li .bullet p
{
	width: 50px;
	height: 50px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	font-style: italic;
	padding-top: 14px;
}

ol li { margin-bottom: 20px; }

footer { margin-top: 200px; }

footer a,
footer a:link,
footer a:hover,
footer a:active
footer a:visited
{
	color: #333;
}

footer a:hover { color: #008cc1; }

footer #product-footer
{
	background: #efefef;
	padding: 20px 0;
}

footer #product-footer img { float: left; }
footer #product-footer h1
{
	float: left;
	line-height: 1;
	color: #333;
	margin-top: 0;
}

footer #product-footer img
{
	margin: 0 10px 10px 0;
}

footer #product-footer h1
{
	display: block;
}

footer #product-footer p
{
	line-height: 1;
	color: #333;
	float: left;
}

footer #product-footer h1 .dinky
{
	display: block;
	font-size: 14px;
	font-weight: 300;
}

footer #product-footer h1
{
	font-size: 20px;
	font-weight: bold;
}

footer #impress-footer
{
	background: #d7d7d7;
	padding: 20px 0 10px 0;
}

footer h3
{
	color: #333;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}

footer #impress-footer ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

footer #impress-footer ul li
{
	display: inline-block;
	margin-left: 20px;
}

footer #impress-footer ul li a
{
	color: #999;
	text-transform: uppercase;
	font-size: 12px;
}

footer #impress-footer ul li a:hover { color: #333; }

footer #impress-footer .copyright
{
	color: #999;
	text-transform: uppercase;
	font-size: 11px;
}

code
{
	background: none;
	color: #CCC;
	border: none;
}

pre
{
	padding: 3px 6px;
	background: #121212;
	border: 1px dashed #4f4f4f;
}

pre .function { color: #008cc1; }
pre .syntax { color: #86d23e; }
pre .string { color: #ff0054; }